
input {
  border-radius: 2rem;
  background-color: darkorange;
  font-size: 2rem;
  color: #333;
}

#table-container {
    display: flex;
    align-items: left;
    align-content:space-between;
    border: 1rem solid darkslateblue;
    border-radius: 1rem;
  }

  table {
    border-collapse: collapse;
    border: 1px solid darkslateblue;
    text-align: center;
	  vertical-align: middle;
    width: 100%;
    font-size: 2rem;
    color: lightseagreen;
    min-height: 10rem;
    border-right: 1rem solid darkslateblue;
  }

  caption {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding: .3rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid darkslateblue;
    width: 100%;
    color: darkviolet
  }

  thead {
    background-color: darkslateblue;
    color: white;
    font-size: 1.75rem;
	  text-transform: uppercase;
	  letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis */
  .cell-highlight {
    background-color: darkseagreen;
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  button {
    border-radius: 2rem;
    height: 2rem;
    width: 3.5rem;
  }